.score-calculator {
  text-align: center;
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.stats {
  width: 33%;
  flex-grow: 1;

  &-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
